body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h2.main-header {
    color: white;
    padding-top: 12px;
}

@media (max-width: 500px) {
    h2.main-header {
        font-size: 21px;
        padding-top: 18px;
    }
}
